.results-header {
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 10px;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: large;
}

.search-results-container {
  margin-top: 0;
  margin-bottom: 20px;
  color: #333;
  padding-bottom: 10px;
}

.results-list {
  width: 100%;
}

.results-content {
  min-height: 150px; /* Give some height even with no results */
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-matches {
  text-align: center;
  color: #888;
  line-height: 1.5;
}