@import "tailwindcss";

body {
  font-family: Montserrat;
  background-color: #dcdcdc ;
  display: flex;
  justify-content: center;
}

.app-container {
  background-color: #dcdcdc;
  width: 100%;
  overflow: hidden;
}

.header {
  color: #5cb85c;
  padding: 15px 20px;
  margin: 0 0 15px;
  text-align: center;
  background-color: white;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.main-content {
  display: flex;
}

.search-section {
  width: 30%;
  padding: 15px;
  border-right: 1px solid #eee;
  background-color: white;
  margin: 15px 15px 176px 104px;
  border-radius: 10px;
  box-shadow: 0 0.5px 1px 0 #848484bf;
}

.results-section {
  width: 40%;
  background-color: white;
  margin: 15px 105px 0 15px;
  padding: 15px 15px 149.5px;
  border-radius: 10px;
  box-shadow: 0 0.5px 1px 0 #848484bf;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 20px;
}
