@import "tailwindcss";




body {
  font-family: Montserrat;
  background-color: #dcdcdc ;
  display: flex;
  justify-content: center;
}

.app-container {
  background-color: #dcdcdc;
  max-width: 100%;
  overflow: hidden;
}

.header {
  color: #5cb85c;
  padding: 15px 20px;
  margin: 0 0 15px;
  text-align: center;
  background-color: white;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.main-content {
  display: flex;
}

.search-section {
  padding: 15px;
  border-right: 1px solid #eee;
  background-color: white;
  margin: 15px 15px 176px 104px;
}

.results-section {
  background-color: white;
  margin: 15px 105px 0 15px;
   padding: 15px 15px 149.5px;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 20px;
}
