.search-form-container h2 {
  font-size: 1.1em;
  margin-top: 0;
  margin-bottom: 20px;
  color: #333;
}

.radio-group {
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
}

.radio-group label {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #555;
}

.radio-group input[type="radio"] {
  margin-right: 8px;
  transform: scale(1.2); /* Make radio buttons a bit larger */
}

.search-input {
  width: 100%;
  padding: 5px;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  margin-bottom: 20px;
  font-size: 9px;
}

.search-button {
  background-color: #28a745; 
  color: white;
  padding: 5px;
  border: none;
  border-radius: 10px;
  font-size: 12px;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  transition: background-color 0.2s ease;
}

.search-button:disabled {
  background-color: #dcdcdc;
  cursor: not-allowed;
}

.search-button:hover:enabled {
  background-color: #218838; 
}

